.Calc-screen{
  background-color: #454d5d;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  grid-area: calcScreen;
}

.Body{
width: 100%;
text-align: center;
}

.Calc-link{
  font-size: 20px;
  font-weight: bold;
  
}

.Button-class{
  font-weight: bold;
}

.Grid-container {
  display: grid;
  grid-template-areas:
    'calcScreen calcScreen calcScreen calcScreen'
    'multiBtn multiBtn divBtn divBtn'
    'seven eight nine plusBtn'
    'four five six plusBtn'
    'one two three minusBtn'
    'zer clearBtn eqBtn minusBtn';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  height: 100%;
  width: 25%;
  margin: 20px auto;
}

.BoomDiv{
  height: 400px;
  width: 400px;
  margin: 20px auto;
  text-align: center;
}

.Boom{
  width: 100%;
  height: 100%;
}

.Grid-container > button {
  background-color: #19191a;
  color: #2196F3;
}

.Clear-btn{
  grid-area: clearBtn;
}

.Plus-btn{
  grid-area: plusBtn;
}

.Minus-btn{
  grid-area: minusBtn;
}

.Multi-btn{
  grid-area: multiBtn;
}

.Division-btn{
  grid-area: divBtn;
}

.Equals-btn{
  grid-area: eqBtn;
}

.One{
  grid-area: one;
}

.Two{
  grid-area: two;
}

.Three{
  grid-area: three;
}

.Four{
  grid-area: four;
}

.Five{
  grid-area: five;
}

.Six{
  grid-area: six;
}

.Seven{
  grid-area: seven;
}

.Eight{
  grid-area: eight;
}

.Nine{
  grid-area: nine;
}

.Zero{
  grid-area: zer;
}